body{
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}
.btn-login{
    margin-top: 80%;
    margin-left: 10%;
    color: white;
    background:  #3A559F 100%;
    font-weight: 500;
    font-size: 20px;
    border-radius: 10px;
    transition: all .2s;
    text-decoration: none;
}

.btn-login:hover{
    text-decoration: none;
    transition: all .2s;
    background:  #3A559F 100%;
    color: white;
}
